# System files
.DS_Store
Thumbs.db

# Agent files
.DS_Store
*.log
.claudignore

# Secrets
.env
.env.local
.env.production

# Build files
dist/
build/
.next/
.vercel
node_modules/

# Python Virtual Environments
.*_env/
venv/
env/

# Large files & archives
*.zip
*.zip.tmp
*.tar.gz

